# scratch folder - local testing only
scratch/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# environments
.venv/
.env

# MLflow
mlruns/

# uv
.uv/

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# distribution
dist/
build/
*.egg-info/